## CSC 177-02 Data Warehousing and Data Mining
### Mini-Project 1: Clustering
### 2016 US presedential election Twitter analysis

#### Group members: Aaron Enberg,

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)

In [2]:
column_names = ['Name', 'screen_Name', 'User_ID', 
                'Followers_Count', 'Friends_Count', 
                'Location', 'Description', 'Created_At', 
                'Status_ID', 'Language', 'Place', 
                'Retweet_Count', 'Favorite_Count', 'Text']
tweets = pd.read_table('data/clinton_trump_tweets.txt', names=column_names, encoding='ISO-8859-1')
tweets.columns = tweets.columns.str.lower()

In [3]:
tweets.head()

,name,screen_name,user_id,followers_count,friends_count,location,description,created_at,status_id,language,place,retweet_count,favorite_count,text
0,Cebel,Cebel6,1519696717,132,263,"Little Rock, Arkansas",Arkansas Razorback Fan Just trying to be #Uncommon one 1-0 day at a time.,Sat Oct 29 08:10:06 EEST 2016,792232017094119425,en,NaN,0,1,@NWAJimmy I've read it now though brother. Was pretty spot on Lots of bright spots but a lot to work on. Exactly as an exhibition should be!
1,Cookie,Cookiemuffen,109945090,2154,2034,The American South,Got married after college. I don't regret starting a family instead of grad school. Proud Deplorable,Wed Oct 26 18:44:08 EEST 2016,791304413923213312,en,NaN,1937,0,RT @wikileaks: New poll puts Pirate Party on course to win Iceland's national elections on Saturday. https://t.co/edTqjeJaQ6
2,nolaguy,nolaguy_phd,1450086582,797,1188,NaN,"An LSU Ph.D student living in New Orleans, trying to find a second act.",Sat Oct 29 21:53:29 EEST 2016,792439227090767872,en,NaN,0,0,@gaystoner821 I think New Orleans spoiled me with food. I need to try and branch out in BR.
3,Mark Hager,marksnark,167177185,204,448,Pittsburgh,"Hip, trendy, smart, funny, fit, lobbyist. U? Boilerplate: these thoughts are my own, not anyone else's. Hmmmkay?",Wed Oct 26 00:33:20 EEST 2016,791029904733331457,en,NaN,891,0,RT @LOLGOP: ACA needs fixes but know da facts: *70% can get covered in marketplaces for under $75/month *Hikes affect 3% *GOP will uninsu
4,Capitalist Creations,aaronjhoddinott,1191022351,775,154,Canada,"Entrepreneur, startup investor, political junkie, free market supporter, beer connoisseur, dad and dog lover. Also a golf enthusiast despite my lack of skill.",Fri Oct 28 05:05:10 EEST 2016,791823089700962304,en,NaN,7,0,RT @FastCompany: Alphabet shares soar on better-than-expected earnings as mobile video strategy pays off https://t.co/bokbXngMJt https://t.

In [4]:
tweets.shape

(5250980, 14)

In [5]:
tweets.dtypes

name               object
screen_name        object
user_id            int64
followers_count    int64
friends_count      int64
location           object
description        object
created_at         object
status_id          int64
language           object
place              object
retweet_count      int64
favorite_count     int64
text               object
dtype: object

## Preprocessing

In [6]:
pattern = r'^RT'

# matches retweets and removes them
tweets = tweets[tweets.text.str.match(pattern) == False]

In [7]:
tweets.head()

,name,screen_name,user_id,followers_count,friends_count,location,description,created_at,status_id,language,place,retweet_count,favorite_count,text
0,Cebel,Cebel6,1519696717,132,263,"Little Rock, Arkansas",Arkansas Razorback Fan Just trying to be #Uncommon one 1-0 day at a time.,Sat Oct 29 08:10:06 EEST 2016,792232017094119425,en,NaN,0,1,@NWAJimmy I've read it now though brother. Was pretty spot on Lots of bright spots but a lot to work on. Exactly as an exhibition should be!
2,nolaguy,nolaguy_phd,1450086582,797,1188,NaN,"An LSU Ph.D student living in New Orleans, trying to find a second act.",Sat Oct 29 21:53:29 EEST 2016,792439227090767872,en,NaN,0,0,@gaystoner821 I think New Orleans spoiled me with food. I need to try and branch out in BR.
6,David Walling,davidjwalling,106568768,975,2781,"Dallas, TX",Bloodletting secure algorithms close to the bone. #HealthIT security matters. Opinions my own. https://t.co/Dcpe6FteOq,Sat Oct 29 00:16:48 EEST 2016,792112907488079872,en,NaN,0,0,#infosec #Intel #ACM #IEEE Impacts Haswell microarch. Paper proposes mitigations that could prevent BTB-based side https://t.co/DW6vgRAPrv
7,robert2266,robert2266,17101060,845,938,The Universe,The Dark Lord,Fri Oct 28 14:41:06 EEST 2016,791968028191711237,en,NaN,0,0,"Hacked e-mails show Clinton campaigns fears about Sanders | https://t.co/WMyCHuCDIc The Philippine Star (PhilippineStar) October 28, 2"
10,neddyo,neddyo,16818809,1400,379,Long Island and beyond...,"You should be digging it while it's happening - Zappa; I don't know how you do it, man. - Anastasio #minimix #recommNeds #NYCSOTW",Mon Oct 31 08:06:52 EET 2016,792971077836124160,en,NaN,0,1,Hulk smash!

In [8]:
# match all hashtags and mentions in a tweet, ignoring possible email addresses
pattern = r'(?<=^|(?<=[^a-zA-Z0-9-\.]))@([A-Za-z_]+[A-Za-z0-9_]+)|(?<=^|(?<=[^a-zA-Z0-9-\.]))#([A-Za-z_]+[A-Za-z0-9_]+)'

""" extractall() returns a DataFrame with a MultiIndex:
    First index is our original index. Second index is "match" which is a running
    total of the number of occurences of hashtags and mentions for a particular 
    tweet. So, a match = 0 does NOT mean there are no matches, actually it's the 
    first occurence of a hashtag or mention found in the tweet (index starts from 0)  """
mention_hashtag = tweets.text.str.extractall(pattern)

In [9]:
mention_hashtag.columns = ['mentions', 'hashtags']
mention_hashtag.head()

             mentions hashtags
  match
0 0      NWAJimmy      NaN
2 0      gaystoner821  NaN
6 0      NaN           infosec
  1      NaN           Intel
  2      NaN           ACM

In [10]:
''' Turn the MultiIndex Dataframe into a regular single index with 
    same index from training data. This is now our basket of tweets
    containing atleast one mention or hastag '''
mention_hashtag = mention_hashtag.reset_index().set_index('level_0')
del mention_hashtag.index.name

In [11]:
mention_hashtag

         match         mentions           hashtags
0        0      NWAJimmy         NaN
2        0      gaystoner821     NaN
6        0      NaN              infosec
6        1      NaN              Intel
6        2      NaN              ACM
6        3      NaN              IEEE
12       0      Haylie_Bre       NaN
13       0      WayneDupreeShow  NaN
13       1      NaN              climatechange
22       0      tansleyemiley69  NaN
24       0      NaN              MegynKelly
24       1      NaN              Trump2016
25       0      MamaDurant       NaN
25       1      KDTrey5          NaN
25       2      NBA              NaN
25       3      warriors         NaN
25       4      Oakland          NaN
25       5      ESPNNBA          NaN
25       6      NBAonTNT         NaN
25       7      espn             NaN
27       0      KyleOrl          NaN
27       1      ZekeJMiller      NaN
28       0      MutinyWrestling  NaN
33       0      Timberland       NaN
34       0      mlombardifoxtv   NaN
34       1      ochocinco        NaN
35       0      SaraMitchellTV   NaN
38       0      NaN              HillNO
40       0      NaN              RawWomensChampion
40       1      NaN              HIAC
...     ..      ...               ...
5250938  0      bellevuedog      NaN
5250938  1      zdzichudyrma     NaN
5250938  2      AaronH02056      NaN
5250938  3      draftkingsGOAT   NaN
5250938  4      mapppps          NaN
5250947  0      NaN              usa
5250948  0      SadFndngFathers  NaN
5250948  1      RalstonReports   NaN
5250953  0      muffinville      NaN
5250956  0      NaN              ProudlyNigerian
5250959  0      alberthammill    NaN
5250959  1      zezrie           NaN
5250965  0      NaN              baseball
5250965  1      NaN              WorldSeries2016
5250965  2      NaN              MLB
5250966  0      StephSDubois     NaN
5250966  1      molly_macd       NaN
5250966  2      WinterCityYEG    NaN
5250967  0      KicksDealsCA     NaN
5250967  1      JulienHV28       NaN
5250968  0      NaN              Endomondo
5250968  1      NaN              endorphins
5250975  0      technacity       NaN
5250978  0      HeroDogAwards    NaN
5250978  1      BethStern        NaN
5250978  2      Ali_Sweeney      NaN
5250978  3      BaileeMadison    NaN
5250978  4      BrandonMcMillan  NaN
5250978  5      _Adam_Rodriguez  NaN
5250978  6      robertherjavec   NaN

[2831005 rows x 3 columns]

In [12]:
''' We can find all users who have used mentions or hastags atleast 20 times
    by filtering on match column '''

' We can find all users who have used mentions or hastags atleast 20 times\n    by filtering on match column '