## CSC 177-02 Data Warehousing and Data Mining
### Mini-Project 1: Clustering
### 2016 US presedential election Twitter analysis

#### Group members: Aaron Enberg,

In [1]:
import pandas as pd

In [2]:
column_names = ['Name', 'screen_Name', 'User_ID', 
                'Followers_Count', 'Friends_Count', 
                'Location', 'Description', 'Created_At', 
                'Status_ID', 'Language', 'Place', 
                'Retweet_Count', 'Favorite_Count', 'Text']
tweets = pd.read_table('data/clinton_trump_tweets.txt', names=column_names, encoding='ISO-8859-1')
tweets.columns = tweets.columns.str.lower()

In [3]:
tweets.head()

,name,screen_name,user_id,followers_count,friends_count,location,description,created_at,status_id,language,place,retweet_count,favorite_count,text
0,Cebel,Cebel6,1519696717,132,263,"Little Rock, Arkansas",Arkansas Razorback Fan Just trying to be #Unco...,Sat Oct 29 08:10:06 EEST 2016,792232017094119425,en,NaN,0,1,@NWAJimmy I've read it now though brother. Was...
1,Cookie,Cookiemuffen,109945090,2154,2034,The American South,Got married after college. I don't regret star...,Wed Oct 26 18:44:08 EEST 2016,791304413923213312,en,NaN,1937,0,RT @wikileaks: New poll puts Pirate Party on c...
2,nolaguy,nolaguy_phd,1450086582,797,1188,NaN,"An LSU Ph.D student living in New Orleans, try...",Sat Oct 29 21:53:29 EEST 2016,792439227090767872,en,NaN,0,0,@gaystoner821 I think New Orleans spoiled me w...
3,Mark Hager,marksnark,167177185,204,448,Pittsburgh,"Hip, trendy, smart, funny, fit, lobbyist. U? B...",Wed Oct 26 00:33:20 EEST 2016,791029904733331457,en,NaN,891,0,RT @LOLGOP: ACA needs fixes but know da facts:...
4,Capitalist Creations,aaronjhoddinott,1191022351,775,154,Canada,"Entrepreneur, startup investor, political junk...",Fri Oct 28 05:05:10 EEST 2016,791823089700962304,en,NaN,7,0,RT @FastCompany: Alphabet shares soar on bette...

In [4]:
tweets.shape

(5250980, 14)

In [5]:
tweets.dtypes

name               object
screen_name        object
user_id             int64
followers_count     int64
friends_count       int64
location           object
description        object
created_at         object
status_id           int64
language           object
place              object
retweet_count       int64
favorite_count      int64
text               object
dtype: object

## Preprocessing

In [6]:
pattern = r'^RT'

# matches retweets and removes them
tweets = tweets[tweets.text.str.match(pattern) == False]

In [7]:
tweets.head()

,name,screen_name,user_id,followers_count,friends_count,location,description,created_at,status_id,language,place,retweet_count,favorite_count,text
0,Cebel,Cebel6,1519696717,132,263,"Little Rock, Arkansas",Arkansas Razorback Fan Just trying to be #Unco...,Sat Oct 29 08:10:06 EEST 2016,792232017094119425,en,NaN,0,1,@NWAJimmy I've read it now though brother. Was...
2,nolaguy,nolaguy_phd,1450086582,797,1188,NaN,"An LSU Ph.D student living in New Orleans, try...",Sat Oct 29 21:53:29 EEST 2016,792439227090767872,en,NaN,0,0,@gaystoner821 I think New Orleans spoiled me w...
6,David Walling,davidjwalling,106568768,975,2781,"Dallas, TX",Bloodletting secure algorithms close to the bo...,Sat Oct 29 00:16:48 EEST 2016,792112907488079872,en,NaN,0,0,#infosec #Intel #ACM #IEEE Impacts Haswell mi...
7,robert2266,robert2266,17101060,845,938,The Universe,The Dark Lord,Fri Oct 28 14:41:06 EEST 2016,791968028191711237,en,NaN,0,0,Hacked e-mails show Clinton campaigns fears ab...
10,neddyo,neddyo,16818809,1400,379,Long Island and beyond...,You should be digging it while it's happening ...,Mon Oct 31 08:06:52 EET 2016,792971077836124160,en,NaN,0,1,Hulk smash!

In [8]:
# match all hashtags and mentions in a tweet, ignoring possible email addresses
pattern = r'(?<=^|(?<=[^a-zA-Z0-9-\.]))@([A-Za-z_]+[A-Za-z0-9_]+)|(?<=^|(?<=[^a-zA-Z0-9-\.]))#([A-Za-z_]+[A-Za-z0-9_]+)'

""" extractall() returns a DataFrame with a MultiIndex:
    First index is our original index. Second index is "match" which is a running
    total of the number of occurences of hashtags and mentions for a particular 
    tweet. So, a match = 0 does NOT mean there are no matches, actually it's the 
    first occurence of a hashtag or mention found in the tweet (index starts from 0)  """
mention_hashtag = tweets.text.str.extractall(pattern)

In [9]:
mention_hashtag.columns = ['mentions', 'hashtags']
mention_hashtag.head()

             mentions hashtags
  match
0 0          NWAJimmy      NaN
2 0      gaystoner821      NaN
6 0               NaN  infosec
  1               NaN    Intel
  2               NaN      ACM

In [10]:
''' Turn the MultiIndex Dataframe into a regular single index with 
    same index from training data. This is now our basket of tweets
    containing atleast one mention or hastag '''
mention_hashtag = mention_hashtag.reset_index().set_index('level_0')
del mention_hashtag.index.name

In [11]:
mention_hashtag

         match         mentions           hashtags
0            0         NWAJimmy                NaN
2            0     gaystoner821                NaN
6            0              NaN            infosec
6            1              NaN              Intel
6            2              NaN                ACM
6            3              NaN               IEEE
12           0       Haylie_Bre                NaN
13           0  WayneDupreeShow                NaN
13           1              NaN      climatechange
22           0  tansleyemiley69                NaN
24           0              NaN         MegynKelly
24           1              NaN          Trump2016
25           0       MamaDurant                NaN
25           1          KDTrey5                NaN
25           2              NBA                NaN
25           3         warriors                NaN
25           4          Oakland                NaN
25           5          ESPNNBA                NaN
25           6         NBAonTNT                NaN
25           7             espn                NaN
27           0          KyleOrl                NaN
27           1      ZekeJMiller                NaN
28           0  MutinyWrestling                NaN
33           0       Timberland                NaN
34           0   mlombardifoxtv                NaN
34           1        ochocinco                NaN
35           0   SaraMitchellTV                NaN
38           0              NaN             HillNO
40           0              NaN  RawWomensChampion
40           1              NaN               HIAC
...        ...              ...                ...
5250938      0      bellevuedog                NaN
5250938      1     zdzichudyrma                NaN
5250938      2      AaronH02056                NaN
5250938      3   draftkingsGOAT                NaN
5250938      4          mapppps                NaN
5250947      0              NaN                usa
5250948      0  SadFndngFathers                NaN
5250948      1   RalstonReports                NaN
5250953      0      muffinville                NaN
5250956      0              NaN    ProudlyNigerian
5250959      0    alberthammill                NaN
5250959      1           zezrie                NaN
5250965      0              NaN           baseball
5250965      1              NaN    WorldSeries2016
5250965      2              NaN                MLB
5250966      0     StephSDubois                NaN
5250966      1       molly_macd                NaN
5250966      2    WinterCityYEG                NaN
5250967      0     KicksDealsCA                NaN
5250967      1       JulienHV28                NaN
5250968      0              NaN          Endomondo
5250968      1              NaN         endorphins
5250975      0       technacity                NaN
5250978      0    HeroDogAwards                NaN
5250978      1        BethStern                NaN
5250978      2      Ali_Sweeney                NaN
5250978      3    BaileeMadison                NaN
5250978      4  BrandonMcMillan                NaN
5250978      5  _Adam_Rodriguez                NaN
5250978      6   robertherjavec                NaN

[2831005 rows x 3 columns]

In [12]:
''' We can find all users who have used mentions or hastags atleast 20 times
    by filtering on match column '''
mention_hashtag_20 = mention_hashtag[mention_hashtag.match >= 19]
mention_hashtag_20

         match         mentions           hashtags
2232        19           col_nj                NaN
2232        20              NaN          wednesday
2232        21      paulkrugman                NaN
2232        22  BringerOfRain88                NaN
2232        23              NaN            DNCleak
2232        24              NaN  BernieMustDisavow
2232        25          p_cattt                NaN
2232        26   AndyWHumphreys                NaN
2232        27  realDonaldTrump                NaN
2232        28              NaN           VoteBLUE
2232        29              NaN                 p2
2232        30              NaN               Utah
2232        31              NaN             Trumps
2232        32              NaN           McMullin
2232        33              NaN         NeverTrump
2232        34   hammertime1009                NaN
2232        35          Aderpt_                NaN
2232        36   Jerusalem_Post                NaN
2232        37              NaN       BreakingNews
2232        38              NaN         ROOKIEBLUE
2232        39              NaN           MCSWAREK
2232        40              NaN            BenBass
2232        41              NaN        ChicagoFire
2232        42              NaN             Dawsey
2232        43              NaN          ChicagoPD
2232        44              NaN           Linstead
2232        45              NaN                 GH
2232        46              NaN              Lante
2232        47              NaN                TML
2232        48      gaellicious                NaN
...        ...              ...                ...
5237565     27              NaN              USMNT
5237565     28              NaN    ElizabethWarren
5237565     29     jamisonfoser                NaN
5237565     30       wbgazafree                NaN
5237565     31              NaN               Tech
5237565     32              NaN            Fitness
5237565     33              NaN       Photographer
5237565     34              NaN       Entrepreneur
5237565     35              NaN               tech
5237565     36              NaN              TRUMP
5237565     37      jackbgoode1                NaN
5237565     38    USFreedomArmy                NaN
5237565     39            sxdoc                NaN
5237565     40     Karennola719                NaN
5237565     41          Jnbarke                NaN
5237565     42       WarChief82                NaN
5237565     43  realDonaldTrump                NaN
5237565     44        kenncar19                NaN
5237565     45       NYRainjerz                NaN
5237565     46      ashleahodge                NaN
5237565     47              NaN          ImWithHer
5237565     48              NaN         NeverTrump
5237565     49              NaN   BlackLivesMatter
5237565     50              NaN             NoDAPL
5237565     51       Honey17011                NaN
5237565     52            MSNBC                NaN
5237565     53       KirkDBorne                NaN
5237565     54       BigDataGal                NaN
5237565     55              NaN            BigData
5237565     56              NaN           Analytic

[26297 rows x 3 columns]

In [13]:
# count up all the occurences for each distinct mention
count_mentions = mention_hashtag.mentions.value_counts()
# turn the series back into a dataframe 
count_mentions = count_mentions.reset_index(name="count")
# retrieve only those mentions having atleast 20 occurences 
count_mentions.query("count >= 19")

                 index  count
0              YouTube  33840
1      realDonaldTrump  31471
2       HillaryClinton  24543
3              FoxNews  11448
4           megynkelly   8515
5                  CNN   8363
6         newtgingrich   4872
7          seanhannity   4510
8               c0nvey   4247
9            wikileaks   4080
10      KellyannePolls   3966
11                 FBI   3957
12               POTUS   3919
13             nytimes   3829
14               MSNBC   3652
15      washingtonpost   3430
16                 ABC   3092
17      IAMDONMEGA1017   3043
18                Cubs   3007
19     jasoninthehouse   3000
20           NissanUSA   2830
21          JoyAnnReid   2822
22                eBay   2755
23         CNNPolitics   2669
24       BreitbartNews   2577
25         mitchellvii   2421
26                 GOP   2385
27          mike_pence   2362
28      kurteichenwald   2069
29         SpeakerRyan   2021
...                ...    ...
10497  _CitizenInsane_     19
10498    MichaelDuncan     19
10499  melissamccarthy     19
10500       aamir_khan     19
10501         jjbenz19     19
10502          dsantoj     19
10503       errollouis     19
10504  cameronesposito     19
10505        USChamber     19
10506          SueMiRe     19
10507          Zendesk     19
10508     ChrisStigall     19
10509         SJWaffle     19
10510       classytwat     19
10511         cbraunnj     19
10512           SuzyQL     19
10513     brycejwillis     19
10514   MadamSecretary     19
10515           Pat120     19
10516    MattBellassai     19
10517        MargiCulp     19
10518    bwestcineaste     19
10519  thefeministwire     19
10520      FillWerrell     19
10521     JoeyBuckets3     19
10522     TerriMarsh11     19
10523   spencermilantt     19
10524       vgunvalson     19
10525           xtahzy     19
10526        Wamagaisa     19

[10527 rows x 2 columns]

In [14]:
# do the same thing for the hashtags
count_hashtags = mention_hashtag.hashtags.value_counts()
count_hashtags = count_hashtags.reset_index(name="count") 
count_hashtags.query("count >= 19")

                      index  count
0               WorldSeries   9932
1                     Trump   6688
2                     quote   6274
3                      MAGA   6074
4                      news   6070
5                NowPlaying   4895
6                     PJNET   4175
7                   Hillary   3945
8                 ImWithHer   3929
9             RallyTogether   3516
10                      Now   3451
11               COSProject   3162
12                 DOWNLOAD   3029
13                  SPOTIFY   3029
14                    ALBUM   3029
15                     Cubs   2954
16             HeismanHouse   2801
17                  YOUNGMA   2670
18                     tech   2660
19                Halloween   2642
20           HillaryClinton   2606
21                     LGBT   2593
22           CrookedHillary   2569
23                   NoDAPL   2467
24              mPLUSPlaces   2455
25                  Clinton   2187
26                education   2152
27                halloween   2114
28            DrainTheSwamp   2091
29             mPLUSRewards   2037
...                     ...    ...
6215                asshole     19
6216             bbccricket     19
6217               epicfail     19
6218  stanfordtalkselection     19
6219          DaDailyInsult     19
6220                 popart     19
6221                   SHRM     19
6222           DonaldJTrump     19
6223               Powerful     19
6224            amplify2016     19
6225                   view     19
6226                    M2M     19
6227          sheikhrasheed     19
6228                     AD     19
6229                  KUWTK     19
6230                   WBTV     19
6231           Inktober2016     19
6232                    snl     19
6233      JournalismSoWhite     19
6234                selling     19
6235         ExcludedNoMore     19
6236                   Gilt     19
6237               SriLanka     19
6238         EverybodyTalks     19
6239                    PA9     19
6240                 DefMin     19
6241                   FIAC     19
6242                  great     19
6243                Lottery     19
6244                 donate     19

[6245 rows x 2 columns]

In [15]:
''' join back the rest of the data for all 
    users with atleast 20 hashtags + mentions '''
result = pd.concat([tweets, mention_hashtag_20], axis=1, join_axes=[mention_hashtag_20.index])

In [159]:
result.head()

,name,screen_name,user_id,followers_count,friends_count,location,description,created_at,status_id,language,place,retweet_count,favorite_count,text,match,mentions,hashtags
2232,Colleen Allen,Colleen_Allen14,1561696464,292,1180,"Seattle, Washington",School Psychologist Social Justice Feminism ...,Sun Oct 30 23:53:14 EET 2016,792846850185236480,en,NaN,0,1,I didnt quit Second City because of Donald Tru...,19,col_nj,NaN
2232,Colleen Allen,Colleen_Allen14,1561696464,292,1180,"Seattle, Washington",School Psychologist Social Justice Feminism ...,Sun Oct 30 23:53:14 EET 2016,792846850185236480,en,NaN,0,1,I didnt quit Second City because of Donald Tru...,20,NaN,wednesday
2232,Colleen Allen,Colleen_Allen14,1561696464,292,1180,"Seattle, Washington",School Psychologist Social Justice Feminism ...,Sun Oct 30 23:53:14 EET 2016,792846850185236480,en,NaN,0,1,I didnt quit Second City because of Donald Tru...,21,paulkrugman,NaN
2232,Colleen Allen,Colleen_Allen14,1561696464,292,1180,"Seattle, Washington",School Psychologist Social Justice Feminism ...,Sun Oct 30 23:53:14 EET 2016,792846850185236480,en,NaN,0,1,I didnt quit Second City because of Donald Tru...,22,BringerOfRain88,NaN
2232,Colleen Allen,Colleen_Allen14,1561696464,292,1180,"Seattle, Washington",School Psychologist Social Justice Feminism ...,Sun Oct 30 23:53:14 EET 2016,792846850185236480,en,NaN,0,1,I didnt quit Second City because of Donald Tru...,23,NaN,DNCleak

In [220]:
# number of times a user has used a hastag 
user_hashtag_frequency = result.groupby(['screen_name', 'hashtags']).size()
user_hashtag_frequency

screen_name    hashtags
21sneaker      Clothing                1
               FENDER                  1
               GIBSON                  1
               GoRoar                  1
               Hillary                 1
               Impinv                  1
               MARSHALL                1
               MUFC                    1
               MakeA                   1
               Music                   1
               NBA                     1
               Rock                    1
               SMEM                    1
               StanLeeDay              1
               StateOfTheClimate       1
               StrangerThings          1
               TEAMFOLLOWBACK          1
               TNF                     1
               ThanksPau               1
               VoteOrGrope             1
               WearTheRose             1
               adaptation              1
               climate                 1
               demoday16               1
               em2au                   1
               enjoy                   1
               gh                      1
               leadership              1
               music                   2
312realestate  CUBS                    1
                                      ..
ymlehnen       CAMERAPAYSMYBILLS       1
               California              1
               ER                      1
               GivingTuesday           1
               GoCubs                  1
               Imwithher               1
               JillStein               1
               Lakers                  1
               PJFiala                 1
               RRBC                    1
               RRBCAspiretoInspire     1
               SourcesHaveConfirmed    1
               TheHoodForTrump         1
               TigersUnlimited         1
               TrumpTrain              1
               UNLV                    1
               WarEagle                1
               election2016            1
               feedly                  1
               garyjohnson             1
               mondaymotivation        1
               mustread                1
               narrowroad              1
               neverBeckagain          1
               neverhillary            1
               nevertrumpers           1
               oregonstandoff          1
               pacificpalisades        1
               wikileaks               1
zkjango        WorldSeries             1
Length: 11222, dtype: int64

In [219]:
# number of times a user has mentioned another user
user_mention_frequency = result.groupby(['screen_name', 'mentions']).size()
user_mention_frequency

screen_name  mentions
1wenakeem    BESTFlGHTS         1
             MudK               1
             Nick4125           1
             RavenSymone        1
             SpegalSarah        1
             TheView            1
             davidschneider     1
             marcsuxx           1
             victordlamini      1
21sneaker    BOM_aus            1
             BernieSanders      1
             BleacherReport     1
             CSIROnews          1
             CollectorCorps     2
             ConversationEDU    1
             DerekMasonYo       1
             Dory               1
             EMULSIVEfilm       1
             EricTrump          1
             FirstTake          1
             Franklin_Graham    1
             GreenCrossAus      1
             JasonLaCanfora     1
             KMRodkey           1
             MathsDebation      1
             MickyJSafc         1
             NubianAwakening    1
             Pawley3000         1
             TIME               1
             TXElects           1
                               ..
yfortiss     pedestriandaily    1
             realDonaldTrump    1
             shelleysilas       1
             stroughtonsmith    1
             theillitch         1
ymlehnen     Blackbaud          1
             BundyB             1
             CookPolitical      1
             DebbieMcCall7      1
             Franklin_Graham    1
             GuideStarUSA       1
             HowellWave         1
             JohnJFioravanti    1
             KrazzyTracy        1
             MOVEFORWARDHUGE    1
             MicroEdgeLLC       2
             MinIT_Telangana    1
             PlanetFreeWill     1
             SenTomCotton       1
             UWBadgers          1
             darth              1
             donnabrazile       1
             girlposts          1
             gmplano            1
             iamYungBandz       1
             kellyforamerica    1
             powelljolie        1
             realDonaldTrump    1
             woahohkatie        1
zkjango      Heather28df        1
Length: 14294, dtype: int64